@charset "UTF-8";
@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?e958c5f1ae25f44f53062aaba546e178") format("truetype"), url("./flaticon.woff?e958c5f1ae25f44f53062aaba546e178") format("woff"), url("./flaticon.woff2?e958c5f1ae25f44f53062aaba546e178") format("woff2"), url("./flaticon.eot?e958c5f1ae25f44f53062aaba546e178#iefix") format("embedded-opentype"), url("./flaticon.svg?e958c5f1ae25f44f53062aaba546e178#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-email:before {
  content: "";
}

.flaticon-phone-call:before {
  content: "";
}

.flaticon-maps-and-flags:before {
  content: "";
}

.flaticon-instagram:before {
  content: "";
}

.flaticon-gallery:before {
  content: "";
}

.flaticon-serving-dish:before {
  content: "";
}

.flaticon-edit:before {
  content: "";
}

.flaticon-left-arrow:before {
  content: "";
}

.flaticon-wedding:before {
  content: "";
}

.flaticon-cake:before {
  content: "";
}

.flaticon-wedding-rings:before {
  content: "";
}

.flaticon-play:before {
  content: "";
}

.flaticon-quotation:before {
  content: "";
}

.flaticon-dove:before {
  content: "";
}

.flaticon-calendar:before {
  content: "";
}

.flaticon-heart:before {
  content: "";
}

.flaticon-pinterest:before {
  content: "";
}

.flaticon-facebook-app-symbol:before {
  content: "";
}

.flaticon-twitter:before {
  content: "";
}

.flaticon-instagram-1:before {
  content: "";
}

.flaticon-linkedin:before {
  content: "";
}

.flaticon-youtube:before {
  content: "";
}

.flaticon-search:before {
  content: "";
}

.flaticon-shopping-cart:before {
  content: "";
}

.flaticon-left-arrow-1:before {
  content: "";
}

.flaticon-user:before {
  content: "";
}

.flaticon-comment-white-oval-bubble:before {
  content: "";
}

.flaticon-calendar-1:before {
  content: "";
}

.flaticon-right-arrow:before {
  content: "";
}

.flaticon-play-1:before {
  content: "";
}

.flaticon-left-quote:before {
  content: "";
}

.flaticon-right-arrow-1:before {
  content: "";
}

.flaticon-left-arrow-2:before {
  content: "";
}

.flaticon-next:before {
  content: "";
}
